src/main/resources/employee-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://employee.com"
             xmlns:tns="http://employee.com">

    <types>
        <xsd:schema targetNamespace="http://employee.com">
            <xsd:complexType name="Employee">
                <xsd:sequence>
                    <xsd:element name="eno" type="xsd:int"/>
                    <xsd:element name="ename" type="xsd:string"/>
                    <xsd:element name="salary" type="xsd:double"/>
                    <xsd:element name="dob" type="xsd:date"/>
                    <xsd:element name="doj" type="xsd:date"/>
                    <xsd:element name="manager" type="xsd:string"/>
                    <xsd:element name="dept" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="getAllEmployeesRequest" type="tns:getAllEmployeesRequest"/>
            <xsd:element name="getAllEmployeesResponse" type="tns:getAllEmployeesResponse"/>

            <xsd:element name="getEmployeeByIdRequest" type="tns:getEmployeeByIdRequest"/>
            <xsd:element name="getEmployeeByIdResponse" type="tns:getEmployeeByIdResponse"/>

            <xsd:element name="addEmployeeRequest" type="tns:addEmployeeRequest"/>
            <xsd:element name="addEmployeeResponse" type="tns:addEmployeeResponse"/>

            <xsd:element name="updateEmployeeRequest" type="tns:updateEmployeeRequest"/>
            <xsd:element name="updateEmployeeResponse" type="tns:updateEmployeeResponse"/>

            <xsd:element name="deleteEmployeeRequest" type="tns:deleteEmployeeRequest"/>
            <xsd:element name="deleteEmployeeResponse" type="tns:deleteEmployeeResponse"/>

            <xsd:complexType name="getAllEmployeesRequest"/>

            <xsd:complexType name="getAllEmployeesResponse">
                <xsd:sequence>
                    <xsd:element name="employee" type="tns:Employee" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="getEmployeeByIdRequest">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="getEmployeeByIdResponse">
                <xsd:sequence>
                    <xsd:element name="employee" type="tns:Employee"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="addEmployeeRequest">
                <xsd:sequence>
                    <xsd:element name="employee" type="tns:Employee"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="addEmployeeResponse">
                <xsd:sequence>
                    <xsd:element name="employee" type="tns:Employee"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="updateEmployeeRequest">
                <xsd:sequence>
                    <xsd:element name="employee" type="tns:Employee"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="updateEmployeeResponse">
                <xsd:sequence>
                    <xsd:element name="employee" type="tns:Employee"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="deleteEmployeeRequest">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="deleteEmployeeResponse"/>

        </xsd:schema>
    </types>

    <message name="getAllEmployeesRequest"/>
    <message name="getAllEmployeesResponse">
        <part name="parameters" element="tns:getAllEmployeesResponse"/>
    </message>

    <message name="getEmployeeByIdRequest">
        <part name="parameters" element="tns:getEmployeeByIdRequest"/>
    </message>
    <message name="getEmployeeByIdResponse">
        <part name="parameters" element="tns:getEmployeeByIdResponse"/>
    </message>

    <message name="addEmployeeRequest">
        <part name="parameters" element="tns:addEmployeeRequest"/>
    </message>
    <message name="addEmployeeResponse">
        <part name="parameters" element="tns:addEmployeeResponse"/>
    </message>

    <message name="updateEmployeeRequest">
        <part name="parameters" element="tns:updateEmployeeRequest"/>
    </message>
    <message name="updateEmployeeResponse">
        <part name="parameters" element="tns:updateEmployeeResponse"/>
    </message>

    <message name="deleteEmployeeRequest">
        <part name="parameters" element="tns:deleteEmployeeRequest"/>
    </message>
    <message name="deleteEmployeeResponse">
        <part name="parameters" element="tns:deleteEmployeeResponse"/>
    </message>

    <portType name="EmployeePortType">
        <operation name="getAllEmployees">
            <input message="tns:getAllEmployeesRequest"/>
            <output message="tns:getAllEmployeesResponse"/>
        </operation>

        <operation name="getEmployeeById">
            <input message="tns:getEmployeeByIdRequest"/>
            <output message="tns:getEmployeeByIdResponse"/>
        </operation>

        <operation name="addEmployee">
            <input message="tns:addEmployeeRequest"/>
            <output message="tns:addEmployeeResponse"/>
        </operation>

        <operation name="updateEmployee">
            <input message="tns:updateEmployeeRequest"/>
            <output message="tns:updateEmployeeResponse"/>
        </operation>

        <operation name="deleteEmployee">
            <input message="tns:deleteEmployeeRequest"/>
            <output message="tns:deleteEmployeeResponse"/>
        </operation>
    </portType>

    <binding name="EmployeeSoapBinding" type="tns:EmployeePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <operation name="getAllEmployees">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="getEmployeeById">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="addEmployee">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="updateEmployee">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="deleteEmployee">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="EmployeeService">
        <port name="EmployeePort" binding="tns:EmployeeSoapBinding">
            <soap:address location="http://localhost:8081/soap-api/EmployeeService"/>
        </port>
    </service>

</definitions>